@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.main{

}

.header{
    padding: 5px;
}

.discord , .entrar{
    width: 45px;
    
}

.content{

}

.destaques{

}

.calendario-lançamentos{

}

.ultimos-lançamentos{

}

.ultimos-animes{

}

.footer{

}

