@charset "UTF-8";

body{
    margin: 0px;
    padding: 0px;
}

.main{

}

.header{

}

.discord , .entrar{
    width: 45px;
    
}

.content{

}

.destaques{

}

.calendario-lançamentos{

}

.ultimos-lançamentos{

}

.ultimos-animes{

}

.footer{

}

