@charset "uft-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    margin: 3px;
    flex: 1 1 100vw;
    flex-wrap: wrap;
}

header, nav, main, aside, footer{
    display: flex;
    margin: 3px;
    background: #a1a1a1;
}

header{
    flex: 1 1 100vw;
    height: 100px;
}

nav{
    flex: 1 1 200px;
}

main{
    flex: 20 1 500px;
    height: calc(100vh - 224px); /* header=110px footer=100px margin=(3px+3px)*4=24px */
}

aside{
    flex: 1 1 200px;
}

footer{
    flex: 1 1 100vw;
    height: 100px;
}

@media only screen and (max-width: 923px) 
/* Essa regra verifica se a tela do dispositivo não é maior que 923px(momento exato da tranferência de quebra de linha do "aside", caso for positivo, as propriedades adicionadas afetaão o elemento.*/
    {
    main {
        height: calc(100vh - 330px)
    }

    aside {
        flex: 1 1 100vw;
        height: 100px;
    }
}

@media only screen and (max-width: 717px) {
    nav {
        height: 100px;
    }

    main {
        height: calc(100vh - 436px);
    } /* Será descontado os 330 da main acima + os 100px da nav + a margin superior e inferior (3px+3px)= 436px*/
}